.body-content {
  display: flex;
  flex-direction: column;
}

button {
  margin: 0 10px;
}

.genre-container {
  margin: 50px 0;
}

.genre-title {
  margin: 0 80px;
}

.carousel {
  margin: 0 40px;
}

.slide {
  display: flex;
  justify-content: center;
}

.inner-slide {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.thumbnail {
  width: 160px;
  border-radius: 5px;
  height: 225px;
}

.movie-title {
  width: 160px;
  margin-top: 10px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toolbar {
  background-color: rgb(40, 40, 116);
}
.menu {
  align-items: left;
}
.flexExpand {
  flex: 1 1 auto;
}

.plus-container {
  position: absolute;
  top: 180px;
  margin-left: 110px;
}
