.body-content {
  display: flex;
  flex-direction: column;
}

button {
  margin: 0 10px;
}

.genre-container {
  margin: 30px 0;
}

.genre-title {
  margin: 0 80px;
}

.carousel {
  margin: 0 40px;
}

.slide {
  display: flex;
  justify-content: center;
}

.inner-slide {
  width: 160px;
  flex-direction: column;
  display: flex;
}

.thumbnail {
  border-radius: 5px;
  width: auto;
  height: 225px;
}

.movie-title {
  margin-top: 10px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toolbar{
 background-color: rgb(40, 40, 116);
 
}
.menu{
  align-items: left;
}
.flexExpand {
    flex: 1 1 auto;
}
h1{
  font-size: 32px;
  font-family: Apple Chancery, cursive;
  font-variant: small-caps;
}
.like-button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  right:0;
  bottom:0;
}
.container {
  position: relative;
  width: 50%;
}


/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 90%;
  left: 150%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color:white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.container .btn:hover {
  background-color: red;
}