<mat-toolbar class="toolbar">
  <div>
    <span>ChillFlix</span>
  </div>
  <span class="flexExpand"></span>

  <button mat-button class="menu" [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
  <mat-menu #menu="matMenu">
    <span mat-menu-item (click)="logout()">Logout</span>
  </mat-menu>
</mat-toolbar>
<div class="body-content">
  <mat-tab-group mat-stretch-tabs mat-align-tabs="center" class="tab-container">
    <mat-tab label="Favorites">
      <app-favorite-list></app-favorite-list>
    </mat-tab>
    <mat-tab label="Home">
      <div class="genre-container">
        <div class="genre-title">
          <h3>Action</h3>
        </div>
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig"
          (afterChange)="afterChange($event)">
          <div ngxSlickItem *ngFor="let movie of actionList" class="slide">
            <div class="inner-slide">
              <img class="thumbnail" src="{{'https://image.tmdb.org/t/p/original' + movie.poster_path}}">
              <div class="movie-title">
                <span>{{movie.title}}</span>
              </div>
              <div class="plus-container">
                <button mat-mini-fab color="primary" class="btn" (click)="openDialog(movie)" aria-label="Example icon button with a heart icon">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </ngx-slick>
      </div>

      <div class="genre-container">
        <div class="genre-title">
          <h3>Romance</h3>
        </div>
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig"
          (afterChange)="afterChange($event)">
          <div ngxSlickItem *ngFor="let movie of romanceList" class="slide">
            <div class="inner-slide">
              <img class="thumbnail" src="{{'https://image.tmdb.org/t/p/original' + movie.poster_path}}">
              <div class="movie-title">
                <span >{{movie.title}}</span>
              </div>
              <div class="plus-container">
                <button mat-mini-fab color="primary" class="btn" (click)="openDialog(movie)" aria-label="Example icon button with a heart icon">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </ngx-slick>
      </div>

      <div class="genre-container">
        <div class="genre-title">
          <h3>Comedy</h3>
        </div>
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig"
          (afterChange)="afterChange($event)">
          <div ngxSlickItem *ngFor="let movie of comedyList" class="slide">
            <div class="inner-slide">
              <img class="thumbnail" src="{{'https://image.tmdb.org/t/p/original' + movie.poster_path}}">
              <div class="movie-title">
                <span >{{movie.title}}</span>
              </div>
              <div class="plus-container">
                <button mat-mini-fab color="primary" class="btn" (click)="openDialog(movie)" aria-label="Example icon button with a heart icon">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </ngx-slick>
      </div>

      <div class="genre-container">
        <div class="genre-title">
          <h3>Horror</h3>
        </div>
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig"
          (afterChange)="afterChange($event)">
          <div ngxSlickItem *ngFor="let movie of horrorList" class="slide">
            <div class="inner-slide">
              <img class="thumbnail" src="{{'https://image.tmdb.org/t/p/original' + movie.poster_path}}">
              <div class="movie-title">
                <span >{{movie.title}}</span>
              </div>
              <div class="plus-container">
                <button mat-mini-fab color="primary" class="btn" (click)="openDialog(movie)" aria-label="Example icon button with a heart icon">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </ngx-slick>
      </div>
    </mat-tab>
    <mat-tab label="Search">
      <app-movie-search></app-movie-search>
    </mat-tab>
    
  </mat-tab-group>
</div>