<div class="body-content">
  <!-- <app-movie-search></app-movie-search> -->
  <button type="button" class="btn" (click)="logout()">Logout</button>

  <div class="genre-container">
    <div class="genre-title">
      <h3>Action</h3>
    </div>
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
      <div ngxSlickItem *ngFor="let movie of actionList" class="slide">
        <div class="inner-slide">
          <img class="thumbnail" src="{{'https://image.tmdb.org/t/p/original' + movie.poster_path}}">
          <div class="movie-title">
            <span >{{movie.title}}</span>
          </div>
        </div>
      </div>
    </ngx-slick>
  </div>
  <div class="genre-container">
    <div class="genre-title">
      <h3>Adventure</h3>
    </div>
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
      <div ngxSlickItem *ngFor="let movie of adventureList" class="slide">
        <div class="inner-slide">
          <img class="thumbnail" src="{{'https://image.tmdb.org/t/p/original' + movie.poster_path}}">
          <div class="movie-title">
            <span >{{movie.title}}</span>
          </div>
        </div>
      </div>
    </ngx-slick>
  </div>
  <div class="genre-container">
    <div class="genre-title">
      <h3>Comedy</h3>
    </div>
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
      <div ngxSlickItem *ngFor="let movie of comedyList" class="slide">
        <div class="inner-slide">
          <img class="thumbnail" src="{{'https://image.tmdb.org/t/p/original' + movie.poster_path}}">
          <div class="movie-title">
            <span >{{movie.title}}</span>
          </div>
        </div>
      </div>
    </ngx-slick>
  </div>
  <div class="genre-container">
    <div class="genre-title">
      <h3>Horror</h3>
    </div>
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
      <div ngxSlickItem *ngFor="let movie of horrorList" class="slide">
        <div class="inner-slide">
          <img class="thumbnail" src="{{'https://image.tmdb.org/t/p/original' + movie.poster_path}}">
          <div class="movie-title">
            <span >{{movie.title}}</span>
          </div>
        </div>
      </div>
    </ngx-slick>
  </div>
</div>

