.body-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.tab-container {
  border-radius: 20px;
  width: 400px;
  height: 400px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
