<h1>Favorite List</h1>
<p>Keep track of your favorite shows or movies!</p>
<div class="wrapper">
  <ul>
    <li>
      Title Year Type    <br />
      Image <br />
      <input type="submit" value="Remove" id="Remove" />
    </li>

    <li>
      Title Year Type <br />
      Image <br />
      <input type="submit" value="Remove" id="Remove" />
    </li>

    <li>
      Title Year Type <br />
      Image <br />
      <input type="submit" value="Remove" id="Remove" />
    </li>

    <li>
      Title Year Type <br />
      Image <br />
      <input type="submit" value="Remove" id="Remove" />
    </li>

    <li>
      Title Year Type <br />
      Image <br />
      <input type="submit" value="Remove" id="Remove" />
    </li>
  </ul>
</div>
