.body-content {
  margin: 30px;
}

.inner-slide {
  width: 160px;
  flex-direction: column;
  display: flex;
}

.thumbnail {
  border-radius: 5px;
  width: auto;
  height: 225px;
}

.movie-title {
  margin-top: 10px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plus-container {
  margin-top: -75px;
  margin-left: 110px;
}
