
<mat-form-field class="search-field" appearance="outline">
  <mat-label>Search Title</mat-label>
  <input matInput type="text" [(ngModel)]="value" (keyup.enter)="getMovies($event.target.value)">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>



<ng-container fxLayout="row">
    <div fxFlex="50">
        <div *ngFor="let results of results| slice:0:half">
            <p>{{results.Title}}</p>
             <p> Release Year: {{results.Year}}</p>
             <img src="{{results.Poster}}">
        </div>
    </div>
</ng-container>

