.body-content {
  display: flex;
  flex-direction: column;
}

button {
  margin: 0 10px;
}

.genre-container {
  margin: 30px 0;
}

.genre-title {
  margin: 0 80px;
}

.carousel {
  margin: 0 40px;
}

.slide {
  display: flex;
  justify-content: center;
}

.inner-slide {
  width: 160px;
  flex-direction: column;
  display: flex;
}

.thumbnail {
  border-radius: 5px;
  width: auto;
  height: 225px;
}

.movie-title {
  margin-top: 10px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toolbar{
 background-color: rgb(40, 40, 116);
 
}
.menu{
  align-items: left;
}
.flexExpand {
    flex: 1 1 auto;
}